<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS Email Sender</title>
</head>

<body>
    <div class="container">
        <div class="h1">NodeJS Email Sender</div>
        <div class="h5">Version 1.0.0</div>
        <p>
            Hey there, what are you doing here? This is just a backend server I made to send Emails to myself as
            notifications.
        </p>
        <p>
            You are not supposed to be here =v=
        </p>
        <div class="h4">Programmer helpful links</div>
        <ul>
            <li>
                <a href="https://justvice.github.io/technology/web-software/nodejs-email-sender/" target="_blank">NodeJS Email Sender's website.</a>
            </li>
            <li>
                <a href="https://justvice.github.io/s/twitter" target="_blank">Programmer's Twitter.</a>
            </li>
            <li>
                <a href="https://justvice.github.io/send-message" target="_blank">Send a Message (page that uses this
                    application).</a>
            </li>
            <li>
                <a href="https://www.github.com/justvice/nodejs-email-sender" target="_blank">NodeJS Email Sender
                    Github's repository.</a>
            </li>
        </ul>

        <div class="h4">Credits</div>
        <ul>
            <li>Server host: <a href="https://www.heroku.com/" target="_blank" rel="noopener noreferrer">Heroku.</a>
            </li>
            <li>Mail service: <a href="https://sendgrid.com/" target="_blank" rel="noopener noreferrer">SendGrid.</a>
            </li>
        </ul>
        <hr>
        <div class="h3">For developers</div>
        <div class="h4">API</div>
        The application only counts with one single route for API:
        <br>
        GET & post on http://app/sendemail
        <br><br>
        <div class="h5">GET /sendemail</div>
        Returns JSON with a single key: <b>status</b>.
        <br>
        Example: {"status":"up"}
        <br>
        The purpose of this route and method is to check if the service is up.
        <br><br>
        <div class="h5">POST /sendemail</div>
        <p>
            This route can be used to send the Emails.
            <br>
            Route needs at least 3 parameters but not obligatory:
            <br>
            JSON with following keys:
            <br>
        <pre>
            {
                "<b>subject</b>":"Subject of the Email",
                "<b>text</b>":"Plaintext content of the Email.",
                "<b>html</b>":"HTML content of the Email."
            }
        </pre>
        If the process is successful, JSON with key <b>status</b> will be <b>success</b>.
        </p>
        <div class="h5">SendGrid</div>
        <p>
            The application works with SendGrid service. If you want to run your own Email Sender with this software you
            must use SendGrid service or to modify the code.
        </p>
        <div class="h5">Notice</div>
        <p>
            If you try this service, even though you can see a success message when attempting to send an Email, it
            probably wasn't send.
            <br>
            SendGrid only allows verified accounts through it's internal settings to send Emails.
        </p>
    </div>
</body>

</html>